.container {
    font-family: 'Playfair Display', serif;
    border: 3px solid #2aa1beec;
    box-shadow: 0 0 80px #000000;
    background-color: rgba(0, 0, 0, 0.89);
    width: 250px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    margin-right: 30px;
    margin-left: 60px;
    margin-top: 60px;
    text-decoration: none;
    transition: 1s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.countryName {
    margin-top: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 0 0 5px #000000;
    font-family: 'Playfair Display', serif;
}

.continentName {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 0 0 5px #000000;
    margin-bottom: 1px;
    font-family: 'Playfair Display', serif;
}

.nameContainer {
    width: 250px;
    height: 60px;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.continentContainer {
    margin-top: 30px;
    width: 250px;
    height: 60px;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.container:hover {
    border: 3px solid #2aa1beec;
    box-shadow: 0 0 10px #2d99b4;
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}

.countryImg {
    width: 120px;
    height: 75px;
    box-shadow: 0 0 10px #2d99b4c5;
    border-radius: 5px;
    margin-top: 1px;
}

.links {
    text-decoration: none;
}