.container{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 25px;
    margin-bottom: 15px;
    
}
.input{
    border: 2px solid #2d99b4ec;
    box-shadow: 0 0 8px #2d99b4ec;
    background-color: #08080800 ;
    border-radius: 30px;
    margin-left: 5px;
    color: white;
    margin-right: 5px;
    height: 50px;
    width: 380px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 15px;
    transition: 1.5s, color .10s;
}
.input:hover{
    border: 2px solid #ffffff73;
    box-shadow: 0 0 10px #ffffff;
    background-color: #2d99b446;
}
.input:focus {
    outline: none;
    color: white;
  }
.searchButton{
    border: 2px solid #2d99b4ec;
    box-shadow: 0 0 8px #2d99b4ec;
    border-radius: 30px;
    background-color: #08080836;
    color: white;
    margin: 5px;
    height: 55px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    transition: 1.5s, color .10s;
}
.searchButton:hover{
    border: 2px solid #ffffff73;
    box-shadow: 0 0 10px #ffffff;
    background-color: #2d99b446;
}
.searchButton:focus{
    outline: none;
}